.content{
  width: 90%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin: auto;
}

.other{
  height: 70vh;
  width: 20%;
  margin: 20px auto;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.product-info {
  width: 75%;
  max-width: 1000px;
  margin: 20px auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
}
.product-info .info {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.product-info h1 {
  font-size: 32px;
}

.product-info p {
  color: #666;
  line-height: 24px;
  margin-top: 5px;
}

.product-info p a {
  color: #069;
}
